# Dependencies
node_modules/
**/node_modules/

# Environment
.env
**/.env

# Build
dist/
build/

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# Logs
*.log
coverage/
**/coverage/

# Docker Compose
docker-compose.yml

# agent skills
.agent/
.kiro/

venv_ai/